@tailwind base;
@tailwind components;
@tailwind utilities;

*root {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #707070;
}
html ::-webkit-scrollbar-track {
  background: #ededed;
  text-decoration: none;
}
